.tooltip.in {
  background: rgb(50, 50, 50) none repeat scroll 0% 0%;
  color: #F7F7F7;
  padding: 8px;
  max-width: 400px;
  margin: 30px;
}

.btn {
  height: 2.5em;
  padding: 0em;
  margin-bottom: 0em;
}
.btn-block {
  margin-bottom: 0em;
}
.content {
  margin-bottom: 0px;
}

.wordsCount {
  padding-bottom: 5px;
}

.model_title {
    font-weight: bold;
    padding-left: 0px;
    padding-top: 5px;
}

.model_trait {
    padding-left: 10px;
}

.model_name {
    background-color: #ccc;
    margin-top: 10px;
}

.theader {
    background-color: #bbb;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 5px;
}
.col555px {
    height: 555px;
    overflow: auto;
}

.errorMsg {
    font-weight: bold;
    color: red;
}

.results > .row {
  clear: left;
}

.control-label {
  font-weight: bold;
}

#vizcontainer svg {
  min-width: 480px;
  width: 100%;
  height: 100%;
}
.sample-radio-list {
  margin-bottom: 10px;
}
.sample-radio-container {
  display: inline-block;
  margin-left: 10px;
}
input[type="radio"] {
  margin:3px 5px 0px 0px;
}
.buttons-container {
  margin-top: 15px;
}
/* Portrait tablets and small desktops */
@media (max-width: 1200px) {
    .col555px {
        height: 100%;
    }
}

.tab-panels {
  background-color: #f4f4f4;
  border: 2px solid #ececec;
  padding: 0 1rem 1rem;
  margin-top: 2rem;
}
.tab-panels--tab-list {
  border-bottom: 2px solid #ececec;
}
.tab-panels--tab-list-item {
  display: inline-block;
  margin-top: 1rem;
}
.tab-panels--tab {
  display: block;
  text-decoration: none;
  padding: 0 1rem 1rem;
}
.tab-panels--tab:focus, .tab-panels--tab:hover {
  border-bottom: 6px solid #d74108;
  color: #d74108;
}
.tab-panels--tab.active {
  font-weight: 700;
  border-bottom: 6px solid #d74108;
}
.tab-panels--tab-content .base--textarea {
  min-height: 11.7rem;
  margin-top: 0;
}
.tab-panels--tab-pane {
  display: none;
  margin-top: 0;
}
.tab-panels--tab-pane.active {
  display: block;
}

.element-relations {
  border: 2px solid #c0e6ff;
}

.base--thead {
  font-weight: bold;
  color: #325c80;
  border-bottom: 1px solid #d5d6d5;
  background-color: #ffffff;
}
