<header class="_demo--heading">
  <div class="_demo--container">
    <a class="wordmark" href="http://www.ibm.com/watson/developercloud/" target="_blank">
      <span class="wordmark--left">IBM</span>
      <span class="wordmark--right">Powered By Bluemix</span>
    </a>
    <nav class="heading-nav" role="menubar">
      <li class="base--li heading-nav--li" role="presentation">
        <a class="heading-nav--item" href="/" role="menuitem">Home</a>
      </li>
      <li class="base--li heading-nav--li" role="presentation">
        <a class="heading-nav--item" href="/mortgage" role="menuitem">Mortgage</a>
      </li>
      <li class="base--li heading-nav--li" role="presentation" >
        <a class="heading-nav--item" href="/cc" role="menuitem">Consumer Complaints</a>
      </li>
    </nav>
  </div>
</header>
