<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IBM Bluemix</title>
  <link rel="stylesheet" href="css/banner.css">
  <link rel="stylesheet" href="css/watson-bootstrap-dark.css">

  <!-- <link rel="stylesheet" href="css/additional.css"> -->
</head>
<body>
  <header class="top-nav navbar-fixed-top">

    <div class="container">
      <a href="https://console.ng.bluemix.net/" class="top-nav--logo-link">
        <h3 class="heading left">IBM
          <span class="top-nav--logo-wdc">Powered By Bluemix</span>
        </h3>
      </a>

    </div>
      <div class="row container">
        <nav class="top-nav--nav" role="menubar">
          <li class="top-nav--nav-item" role="presentation">
            <a href="/" role="menuitem">Home</a>
          </li>
          <li class="top-nav--nav-item" role="presentation">
            <a href="/gh" role="menuitem">Generic</a>
          </li>
          <li class="top-nav--nav-item" role="presentation">
            <a href="/mh" role="menuitem">Mortgage</a>
          </li>
          <li class="top-nav--nav-item" role="presentation" >
            <a href="/ih" role="menuitem">Insurance</a>
          </li>
          <li class="top-nav--nav-item" role="presentation" >
            <a href="/cf" role="menuitem">Consumer Finance</a>
          </li>
          <!-- <li class="top-nav--nav-item" role="presentation" >
            <a href="/cc" role="menuitem">Consumer Complaints</a>
          </li> -->
          <li class="top-nav--nav-item" role="presentation" >
            <a href="/settings" role="menuitem" style="color:red !important">Settings</a>
          </li>
        </nav>
      </div>
    </div>
  </header>


  <div class="row header">
    <div class="container">
      <div class="avatar img-container col-lg-2 col-md-2 col-sm-2 hidden-xs">
        <img src="/images/app.png" class="service-icon">
      </div>


      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 dialog-description">
        <h1 style="font-size:50px;" class="service-title">Generic Usecases</h1>
        <!-- <div class="resource-item-container">
          <a href="/ah" class="resource-item">Alchemy Demo</a>
        </div> -->
        <nav class="sec-nav--nav" role="menubar">
          <li class="sec-nav--nav-item" role="presentation">
            <a href="/ah" role="menuitem">Alchemy Demo</a>
          </li>

        </nav>
      </div>




  </div>
  </div>

  <div class="row">
    <div class="container">
      <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dialog-description>
        <div class="input-panel">
          <h2 class="base--h2">Generic</h2>
          <div class="resource-item">Demos not pertaining to any specific industry. </div>
        </div>
      </article>
    </div>
  </div>

  <div class="row">
    <!-- Footer goes here -->
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="/js/mortgage/alchemy.js"></script>
  <script type="text/javascript" src="/js/string-utils.js"></script>
  <script type="text/javascript" src="/js/i18n.js"></script>

</body>

</html>
